* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#000235;
    --accent-color:#ffffff;
    --dark-blue:#312A64;
    --light-blue:#85CFCF;
}

@import url('https://fonts.googleapis.com/css?family=Outfit:400,500,700');

html,body {
    height:100%;
    width: 100%;
    background-color: #000235;
}
    .navbar{
        padding: .8rem;
        
    }
     .nav-link{
        font-size: 20px;
        text-decoration: none;
        font-family: outfit;
        color: var(--accent-color);
        justify-content: space-around;
        }
        header {
            display: flex;
            width: 100%;
            background-color: var(--dark-blue);
            padding: 0.1rem;
    }
   

.fa-solid {
    color: #ffffff;
}
.parent.active .input {
    width: 200px;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap');

.header_navigation i{
    text-decoration: none;
    font-size: 20px;
    color: var(--accent-color);
}

/* header ends*/
.main{
   margin: 0 13rem;
    
}
/* main_hero  */
.main_hero h1
{

padding-top: .8rem;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 68px;
text-transform: capitalize;
color: #F6F5F5;}

.main_hero h4
{

padding-top: .2rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
color: #F6F5F5;}

.main_hero img
{

padding-top: .5rem;
}

.feature{

padding-top: .8rem;
background-color: var(--dark-blue);
height: 76px;
}
.feat{
padding-top: 1.8em;
color: #ffffff;
}
.hero img {

padding-top: 0.1rem;
}
.hero h1{
padding-top: 1.2rem;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 88px;
align-items: center;
text-transform: capitalize;
color: #F6F5F5;
}
.hero h2{

padding-top: 1.1rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
color: #F6F5F5;
}
.hero_end img{

padding-top: 1.8rem;
}
.hero_end h1{
    
    padding-top: 1.9rem;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 88px;
    text-transform: capitalize;
    color: #F6F5F5;

}
.hero_end h3{

padding-top: 2.2rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
color: #F6F5F5;
}
.testimonial h1{

padding-top: 2.2rem;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 30px;
text-transform: capitalize;
color: #FFFFFF;
}
.testimonial h3{

padding-top: 2.5rem;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 95px;
text-align: center;
text-transform: capitalize;
color: #F6F5F5;
}

#box1{
    width: 332.209px;
    height: 350px;
    border-radius: 23.663px;
    opacity: 0.800000011920929;
    background-color: #332B66;
    padding-top: 2.2rem;
    }
#box2{
    width: 332.209px;
    height: 350px;
    border-radius: 23.663px;
    opacity: 0.800000011920929;
    background-color: #332B66;
    padding-top: 2.2rem;
    }
#box3{
    width: 332.209px;
    height: 350px;
    border-radius: 23.663px;
    opacity: 0.800000011920929;
    background-color: #332B66;
    padding-top: 1.2rem;
    }
.test1{
    
    padding-top: 1.1rem;
     
}
.test2{
    
    
    padding-top: 1.1rem;
    bottom: 22.08%; 
}
.test3{
    
    padding-top: 1.2rem;
    }

.Box h2{
    
    padding-top: 1.3rem;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 32.2673px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.Box h4{
    display: flex;
    width: 241.557px;
    height: 179.543px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Outfit;
    font-size: 27.203px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.924px;
    padding-top: 1.3rem;
    bottom: 45.38%;
}
.Box2 h2{
    display: flex;
width: 156.156px;
flex-direction: column;
justify-content: center;
    padding-top: 1.3rem;
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 32.983px;
font-style: normal;
font-weight: 400;
line-height: 30.235px;
}
.Box2 h4{
    display: flex;
width: 274.907px;
flex-direction: column;
justify-content: center;
padding-top : 1.2rem;
color: #FFF;
font-family: Outfit;
font-size: 25.649px;
font-style: normal;
font-weight: 400;
line-height: 29.924px;
}
.Box3 h2{
display: flex;
width: 108.676px;
flex-direction: column;
justify-content: center;
padding-top: 1.2rem;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 32.983px;
font-style: normal;
font-weight: 400;
line-height: 30.235px;
}
.Box3 h4{
display: flex;
width: 312.52px;
height: 239px;
flex-direction: column;
justify-content: center;
    left: 66%;
    right: 33.61%;
    padding-top: 1.1rem;
    color: #FFF;
font-family: Outfit;
font-size: 25.649px;
font-style: normal;
font-weight: 400;
line-height: 29.924px;
}
#get{
    width: 1050px;
height: 402px;
border-radius: 35px;
background: linear-gradient(311deg, #AFDADA 0%, rgba(49, 42, 100, 0.61) 77.19%);
    padding-top: 1.1rem;
    }
#get h5{
display: flex;
width: 200px;
height: 62.703px;
flex-direction: column;
padding-top: 1.1rem;
color: #000;
text-align: center;
font-family: Outfit;
font-size: 40.023px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 1.8rem;  
}
#get h3{
display: flex;
width: 582.351px;
height: 65px;
flex-direction: column;
color: #FFF;
padding-top: 3.1rem;
font-family: Roboto;
font-size: 69.149px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#sta{
width: 320px;
height: 84.048px;
border-radius: 12.007px;
background: #000;
padding-top:3.5rem;
}
#sta h2{
display: flex;
width: 350px;
flex-direction: column;
justify-content: center;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 40.517px;
font-style: normal;
font-weight: 400;
line-height: normal;
       padding-top: 1rem; 
}
.container{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 90%;
    
}
.container>div>h2{
    color: #F6F5F5;
    font-family: sans-serif;
    font-size: 24px;
    padding: 20px 0;
}
.container>div>ul{
    list-style-type: none;   
}
.container>div>ul>li{
    margin: 16px 0;
    cursor: pointer;
}
.container>div>ul>li>a{
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    padding: 2px;
    color: var(--accent-color);
    transition: all 0.4s;
}
.container>div>ul>li>a:hover{
    left: 8px;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desks, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desks, 1200px and up)
@media (min-width: 1200px) { ... }
*/