* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#000235;
    --accent-color:#ffffff;
    --dark-blue:#312A64;
    --light-blue:#85CFCF;
}

@import url('https://fonts.googleapis.com/css?family=Outfit:400,500,700');

html,body {
    height:100%;
    width: 100%;
    background-color: #000235;
}
    .navbar{
        padding: .8rem;
        
    }
     .nav-link{
        font-size: 20px;
        text-decoration: none;
        font-family: sans-serif;
        position: relative;
        padding: 2px;
        color: var(--accent-color);
        
        }
        header {
            display: flex;
            align-items: baseline;
            justify-content: space-around;
            width: 100%;
            background-color: #85CFCF;
           
    }
   

.fa-solid {
    color: #ffffff;
}
.parent.active .input {
    width: 200px;
}
.header-right{
    width: 35%;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap');
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
 
.header_navigation i{
    text-decoration: none;
    font-size: 20px;
    color: var(--accent-color);
}

/* header ends*/

/* main_hero  */
.main_hero h1
{

left: 12.18%;
right: 44.26%;
top: 14.62%;
bottom: 87.63%;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 68px;
text-transform: capitalize;

color: #F6F5F5;}

.main_hero h4
{

left: 12%;
right: 40%;
top: 51%;
bottom: 85%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
color: #F6F5F5;}

.main_hero img
{

left: 55%;
right: 9%;
top: 5%;
bottom: 80%;
}

.feature{

left: 12.18%;
right: 11.11%;
top: 82%;
bottom: 77.1%;
background-color: var(--dark-blue);
height: 76px;
}
.feat{
left: 12.18%;

right: 11.11%;
top: 75%;
color: #ffffff;
}
.hero img {

left: 12.18%;
right: 11.31%;
top: 100%;
bottom: 60.31%;
}
.hero h1{

left: 48.58%;
right: 12.1%;
top: 122%;
bottom: 66.79%;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 88px;
display: flex;
align-items: center;
text-transform: capitalize;

color: #F6F5F5;
}
.hero h2{

left: 48.5%;
right: 12.05%;
top: 152.28%;
bottom: 60.37%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
color: #F6F5F5;
}
.hero_end img{

left: 52.69%;
right: 13.26%;
top: 180%;
bottom: 46.23%;
}
.hero_end h1{
    
    left: 13.39%;
    right: 46.56%;
    top: 190%;
    bottom: 51.15%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 88px;
    text-transform: capitalize;
    
    color: #F6F5F5;

}
.hero_end h3{

left: 13.66%;
right: 45.68%;
top: 220%;
bottom: 47.13%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
color: #F6F5F5;
}
.testimonial h1{

left: 41.37%;
right: 33.61%;
top: 250%;
bottom: 45.38%;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 30px;
text-transform: capitalize;
color: #FFFFFF;
}
.testimonial h3{

left: 26.92%;
right: 30.79%;
top: 255%;
bottom: 38.82%;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 95px;
text-align: center;
text-transform: capitalize;
color: #F6F5F5;
}

#box1{
    width: 332.209px;
    height: 350px;
    border-radius: 23.663px;
    opacity: 0.800000011920929;
    background-color: #332B66;
    
    right: 16.05%;
    left: 12%;
    top: 297%;
    bottom: 22.08%; 
}
#box2{
    width: 332.209px;
    height: 350px;
    border-radius: 23.663px;
    opacity: 0.800000011920929;
    background-color: #332B66;
    
    right: 16.05%;
    left: 38%;
    top: 297%;
    bottom: 22.08%; 
}
#box3{
    width: 332.209px;
    height: 350px;
    border-radius: 23.663px;
    opacity: 0.800000011920929;
    background-color: #332B66;
    
    right: 16.05%;
    left: 64%;
    top: 297%;
    bottom: 22.08%; 
}
.test1{
    
    right: 16.05%;
    left: 20%;
    top: 290%;
    bottom: 22.08%; 
}
.test2{
    
    right: 16.05%;
    left: 46%;
    top: 290%;
    bottom: 22.08%; 
}
.test3{
    
    right: 16.05%;
    left: 72%;
    top: 290%;
    bottom: 22.08%; 
}

.Box h2{
    
    left: 18%;
    right: 33.61%;
    top: 310%;
    bottom: 45.38%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 32.2673px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.Box h4{
    display: flex;
    width: 241.557px;
    height: 179.543px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Outfit;
    font-size: 27.203px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.924px;
    
    left: 15%;
    right: 33.61%;
    top: 317%;
    bottom: 45.38%;
}
.Box2 h2{
    display: flex;
width: 156.156px;
flex-direction: column;
justify-content: center;
    
    left: 45%;
    right: 33.61%;
    top: 312%;
    bottom: 45.38%;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 32.983px;
font-style: normal;
font-weight: 400;
line-height: 30.235px;
}
.Box2 h4{
    display: flex;
width: 274.907px;
flex-direction: column;
justify-content: center;
    
    left: 41%;
    right: 33.61%;
    top: 330%;
    bottom: 45.38%;
color: #FFF;
font-family: Outfit;
font-size: 25.649px;
font-style: normal;
font-weight: 400;
line-height: 29.924px;
}
.Box3 h2{
    display: flex;
width: 108.676px;
flex-direction: column;
justify-content: center;
    
    left: 72%;
    right: 33.61%;
    top: 312%;
    bottom: 45.38%;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 32.983px;
font-style: normal;
font-weight: 400;
line-height: 30.235px;
}
.Box3 h4{
    display: flex;
width: 312.52px;
height: 239px;
flex-direction: column;
justify-content: center;
    
    left: 66%;
    right: 33.61%;
    top: 313%;
    bottom: 45.38%;
color: #FFF;
font-family: Outfit;
font-size: 25.649px;
font-style: normal;
font-weight: 400;
line-height: 29.924px;
}
#get{
    width: 1050px;
height: 402px;
border-radius: 35px;
background: linear-gradient(311deg, #AFDADA 0%, rgba(49, 42, 100, 0.61) 77.19%);
    
    left: 12%;
    right: 33.61%;
    top: 355%;
    bottom: 45.38%;
}
#get h5{
display: flex;
width: 492.923px;
height: 62.703px;
flex-direction: column;
color: #000;
text-align: center;
font-family: Outfit;
font-size: 40.023px;
font-style: normal;
font-weight: 600;
line-height: normal;
    
    left: 25%;
    right: 33.61%;
    top: 18px;  
}
#get h3{
    display: flex;
width: 582.351px;
height: 65px;
flex-direction: column;
    
    left: 28%;
    right: 33.61%;
    top: 65px;  
color: #FFF;
font-family: Roboto;
font-size: 69.149px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#sta{
    width: 370.786px;
height: 84.048px;
border-radius: 12.007px;
background: #000;
    
    left: 30%;
    top: 270px; 
}
#sta h2{
display: flex;
width: 350px;
flex-direction: column;
justify-content: center;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 40.517px;
font-style: normal;
font-weight: 400;
line-height: normal;
    
    top: 16px; 
}
.container{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 90%;
    margin: 204% auto 60px;
}
.container>div>h2{
    color: #F6F5F5;
    font-family: sans-serif;
    font-size: 24px;
    padding: 20px 0;
}
.container>div>ul{
    list-style-type: none;   
}
.container>div>ul>li{
    margin: 16px 0;
    cursor: pointer;
}
.container>div>ul>li>a{
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    padding: 2px;
    color: var(--accent-color);
    transition: all 0.4s;
}
.container>div>ul>li>a:hover{
    left: 8px;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/